body {
    background-color: rgb(82, 7, 7);
    font-size: 100%;
    background-image: url("Assets/Coding Challenge Assets/Coding-Challenge-Image.png");
    height: 100vh;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 1vh;

}

/* footer {
    justify-content: flex-end;
} */

.front-main {
    margin-top: 20%;
    /* align-items: center;
    justify-content: center; */
}

h1 {
    color:rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 'Times new Roman';
    font-weight: bolder;
    font-size: 10rem;
    animation: fadein 3s;
    }
    @keyframes fadein {
     from { opacity: 0}
     to   { opacity: 1}
}

h2 {
    color:rgb(82, 7, 7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 'Times new Roman';
    font-size: 4rem;
}

h4 {
    color: white;
    font-weight:unset;
    animation: fadein 5s;
}
@keyframes fadein {
 from { opacity: 0}
 to   { opacity: 1}
}

#modalBody {
    padding-left: 30px;
    padding-right: 30px;

}

#lorem {
    font-size: 5px;
}


svg {
    stroke: transparent;
    stroke-width: 0px;
    /* animation: fadein 5s; */
}
/* @keyframes fadein {
 from { opacity: 0}
 to   { opacity: 1}
} */

#details {
    @keyframes fadein {
        from { opacity: 0}
        to   { opacity: 1}
       }
}

#moredalInfo {
    visibility: visible;
}

#readMoreButton {
    /* background-color: rgb(82, 7, 7); */
    background-image: linear-gradient(to right, rgba(82, 7, 7, 1), rgba(187, 96, 96, 0.8));
    color: rgb(255, 255, 255);
    font-size: small;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/*may need to use a hero element for the background image. Possibly should set height to 100vh
background: urL('') no-repeat (cover? offset?)*/

/* #hero {
    background-image: url("Assets/Coding Challenge Assets/Coding-Challenge-Image.png") 
} */

/* align-items: center and justify-content: center for Explore text
Might want to use rems instead of ems for text sizing */