body {
    background-color: rgb(82, 7, 7);
    font-size: 100%
    /* background-image: url("Assets/Coding Challenge Assets/Coding-Challenge-Image.png");
    width: 50%;
    height: 50%;
    margin: 0px;
    padding: 0px;
    overflow: auto; */
}

/* footer {
    justify-content: flex-end;
} */

h1 {
    color:rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 'Times new Roman';
    font-weight: bolder;
    font-size: 10em;

}