body {
    background-color: rgb(82, 7, 7);
    font-size: 100%;
    background-image: url("Assets/Coding Challenge Assets/Coding-Challenge-Image.png");
    height: 100vh;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 1vh;

}

/* footer {
    justify-content: flex-end;
} */

.front-main {
    margin-top: 20%;
    /* align-items: center;
    justify-content: center; */
}

h1 {
    color:rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 'Times new Roman';
    font-weight: bolder;
    font-size: 10em;

}

h4 {
    color: white;
    font-weight:unset;
}

/*may need to use a hero element for the background image. Possibly should set height to 100vh
background: urL('') no-repeat (cover? offset?)*/

/* #hero {
    background-image: url("Assets/Coding Challenge Assets/Coding-Challenge-Image.png") 
} */

/* align-items: center and justify-content: center for Explore text
Might want to use rems instead of ems for text sizing */